@charset "UTF-8";

body {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightskyblue;
}



section {
    background-color: white;
    padding: 20px;
    width: 500px;
    border-radius: 10px;
    margin: auto;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.295);
}

div {
    text-align: center;
}

#foto {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

footer {
    font-style: italic;
}

.branco {
    color: white;
    text-align: center;
}


